<div class="row col-sm-12">
  <div class="col-sm-12 col-md-12">
    <label translate>Device Details URL</label>
    <input type="text" name="config.deviceDetailsUrl" class="form-control" style="width:100%"
      [(ngModel)]="config.deviceDetailsUrl" (ngModelChange)="getDeviceData()">
  </div>
  <div class="col-sm-12 col-md-12">
    <label translate>Name of the Main document List from API</label>
    <input type="text" name="config.mainListName" class="form-control" style="width:100%"
      [(ngModel)]="config.mainListName" (ngModelChange)="getDeviceData()">
  </div>
  <div class="col-sm-12 col-md-12" style="margin-top: 15px;margin-bottom: 10px;">
    <label>Properties : </label>
    <a class="btn btn-default btn-xs" (click)="addProperty()" style="margin-left: 10px; height: 18px;">
      <i c8y-icon="plus" class="dlt-c8y-icon-plus" style="margin: 1px;"></i>
      Add property
    </a>
  </div>
  <div class="col-sm-12 col-md-12">
    <div class="col-sm-5 col-md-5">
      <label>Label</label>
    </div>
    <div class="col-sm-6 col-md-6">
      <label>Property</label>
    </div>
    <div class="col-sm-1 col-md-1">
      <label style="visibility: hidden;"></label>
    </div>
  </div>
  <hr class="horizontal-line">
  <div class="row col-sm-12 col-md-12" *ngFor="let property of config.propList; let i = index">
    <div class="col-sm-5 col-md-5" style="align-items: center; margin-top: 10px;">
      <input type="text" [(ngModel)]="property.label" class="form-control"
        style="width:90%;border-radius: 4px;">
    </div>

    <div class="col-sm-6 col-md-6" style="align-items: center; margin-top: 10px;">
      <select [(ngModel)]="property.value" style="width: 90%; height: auto;border-radius: 4px;">
        <option *ngFor="let key of propertiesToDisplay" [ngValue]="key">{{key}}</option>
      </select>

    </div>

    <div class="col-sm-1">
      <button type="button" class="btn btn-danger-custom btn-xs pull-left" title="Delete property"
        (click)="removeProperty(i)" style="margin-top: 8px;">
        <i c8y-icon="times" class="dlt-c8y-icon-times"></i>
      </button>
    </div>
  </div>
</div>